body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #eee;
}

.timer {
  padding: 0;
  width: 200px;
  background-color: #e24141;
  border: none;
  color: rgb(255, 255, 255);
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  margin: 4px 2px;
  cursor: pointer;
  /* border-radius: 16px; */
}

/* nav a.active {
  border-bottom: 3px solid #333;
  transition: all ease 0.4s;
} */

.sidebar {
  margin: 0;
  padding: 0;
  width: 202px;
  background-color: #eee;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 18px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #e24141;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #e24141;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.container {
  margin-top: 20px;
}

.home .post img {
  position: absolute;
  top: -30px;
  left: -10px;
  opacity: 0.4;
}

.home .post {
  overflow: hidden;
  padding-left: 90px;
}
